html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

#main-content {
    flex-shrink: 0;
    padding-top: 60px;
}

#page-footer {
    background-color: $dark;
    color: $light;
    margin-top: auto;
    p {
        padding: 15px 0;
        margin: 0;
    }
}
